<!DOCTYPE html>
<link rel="stylesheet", type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<html>
    <head>
    <meta charset="utf-8">
        <title>:-)</title>
        <h1> Make a face, I will do a face!</h1>
    </head>
      
    <body>
        <div id="container">
            Click on the button bellow, and please allow the camera.
        </div>
        <div>
            <button onclick="window.location.href='/smiley'">Open the camera</button>
        </div>
    </body>
</html>
